h1 {    
    text-align: center;
}

#div-container {
    display: flex;
    justify-content: center;
}

#playground {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: orange;
    border: 1px solid black;
}

#player, #computer, #ball {
    background-color: black;
    height: 20px;
}

#computer, #player {
    width: 100px;
}

#ball {
    width: 20px;
}
